<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/styleadmin.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
    
    <script src="../jsadmin/menuadmin.js"></script>
    <script src="../jsadmin/user.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/styleadmin.css">
    <script>
        window.onload = function(){
            loadMenuAdmin();
            loadAllUser();
        }
    </script>
</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> <img id="img-login" src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
    </header>
    <div class="l-navbar" id="nav-bar"></div>
    <div class="main-component">
        <div class="col-sm-12 header-sp">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addtk"><i class="fa fa-plus"></i> Thêm tài khoản quản trị</button>
            <label class="checkbox-custom">Tài khoản quản trị
                <input onclick="loadtaikhoanqt()" id="tkqt" type="checkbox">
                <span class="checkmark-checkbox"></span>
            </label><br>
            <p class="loctheongay">Lọc theo ngày</p>
            <label>Ngày bắt đầu</label>
            <input type="date" id="ngaybatdau">
            <label>Ngày kết thúc</label>
            <input type="date" id="ngayketthuc">
            <button onclick="loadAllUserByDate()" id="btn-fi" class="btn-filter btn-primary"><i class="fa fa-filter"></i> Lọc</button>
        </div>
        <div class="col-sm-12">
            <table id="example" class="table table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <th>id tài khoản</th>
                        <th>username</th>
                        <th>Họ tên</th>
                        <th>Ngày tạo</th>
                        <th>địa chỉ</th>
                        <th>Khóa</th>
                    </tr>
                </thead>
                <tbody id="listuser">
                    <tr>
                        <td>#2342</td>
                        <td><img src="../image/item.jpg" class="img-sp-admin"></td>
                        <td>nhanvien1</td>
                        <td>hoàng mĩ linh</td>
                        <td>2023-02-19</td>
                        <td>example@gmail.com</td>
                        <td>14 võ trí thanh, nam đàn, nghệ an</td>
                        <td><button class="btn btn-warning"><i class="fa fa-lock"></i> Khóa</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal" id="addtk" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Chi tiết đơn hàng</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body">
                <div class="col-sm-6" style="margin: auto;">
                    <label>Email</label>
                    <input id="email" type="email" class="form-control">
                    <label>Mật khẩu</label>
                    <input id="pass" type="password" class="form-control">
                    <label>Nhắc lại mật khẩu</label>
                    <input id="repass" type="password" class="form-control">
                    <br>
                    <button onclick="addtk()" class="form-control btn btn-primary">Thêm tài khoản</button>
                </div>

            </div>
          </div>
        </div>
    </div>
</body>
</html>