<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Londrina+Solid|Coda+Caption:800|Open+Sans' rel='stylesheet' type='text/css'>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/responsiveslides.css">
<link rel="stylesheet" href="css/stylele.css">
<script src="js/jquery.min.js"></script>
<script src="js/responsiveslides.min.js"></script>
<script src="js/main.js"></script>
<script src="handle/menu.js"></script>
<script src="handle/cart.js"></script>
<script>
	window.onload = function(){
		loadmenu()
	}
</script>
</head>
<body>
<div id="menu"></div>
<div class="contents">
    <div class="row">
		<div class="col-sm-1"></div>
		<div class="col-lg-10 pull-center">
			<img src="image/doitra.jpg" alt="">
			
			<br><br>
			<p style="text-indent: 30px;">
			Nhằm đáp ứng tốt hơn nhu cầu của khách hàng và nâng cao chất lượng dịch vụ thì số lượng của từng sản phẩm trong cửa hàng mà khách hàng muốn mua tối đa chỉ 20 sản phẩm. Đối với các khách hàng muốn mua số lượng lớn đối với từng sản phẩm thì vui lòng liên hệ trực tiếp đến cửa hàng để được tư vấn. Swispshop cung cấp cho khách hàng chích sách: “Đổi trả hàng”. Mục đích của chính sách đổi trả này là cung cấp thêm cho khách hàng về dịch vụ sau bán hàng nhằm đem lại nhiều lợi ích và sự yên tâm cho quý khách hàng khi sử dụng sản phẩm của Swispshop.
			
			</p><br>
			<p>
			
			<p><b>Chính sách đổi trả hàng</b>: Để đảm bảo sự hài lòng tuyệt đối của khách hàng khi mua sắm tại Swispshop, chúng tôi bảo hành sản phẩm trong, 2 ngày - 1 tuần tùy từng sản phẩm.</p>
			</p>
			<br>
			
			<p style="text-indent: 30px;">Tất cả các sản phẩm đều được bảo hành lỗi 1 đổi 1 trong vòng 3 ngày kể từ khi khách hàng nhận sản phẩm.</p>
			<p>Một số điều kiện có thể đi kèm, quý khách vui lòng tham khảo thông tin chi tiết bên dưới:</p><br>
			<h3 dir="ltr"><b>I. Trường hợp được đổi / trả hàng</b></h3>
			<div style="margin-left: 20px;">
				<p dir="ltr"><b>a. Sản phẩm mua bị lỗi sản xuất, hỏng</b></p>
				<p style="text-indent: 30px;" dir="ltr">Quý khách vui lòng kiểm tra sản phẩm trước khi thanh toán. Sản phẩm của Swispshop trước khi gửi đi cho khách luôn luôn được kiểm tra rất kỹ càng qua 2 khâu:</p>
				<p dir="ltr">1. Kiểm tra sản phẩm có sạch không, có bị hỏng không ?…</p>
				<p dir="ltr">2. Trước khi đóng hàng cho khách. Nhân viên đóng hàng sẽ kiểm tra lại các bước của khâu 1 để đảm bảo chắc chắn rằng sản phẩm tới tay khách hàng luôn luôn tươi ngon nhất.</p>
				<p dir="ltr"><b>b. Sản phẩm bị vỡ hỏng trong quá trình vận chuyển.</b></p>
				<p style="text-indent: 30px;" dir="ltr">Trong trường hợp sản phẩm bị hỏng trong quá trình vận chuyển, quý khách vui lòng từ chối và gửi lại sản phẩm cho Swispshop. Đồng thời thông báo cho nhân viên chăm sóc khách hàng của Swispshop chúng tôi sẽ gửi bù sản phẩm mới thay thế.</p>
				<p dir="ltr"><b>c. Sản phẩm giao không đúng theo đơn đặt hàng</b></p>
				<p style="text-indent: 30px;" dir="ltr">Quý khách nhận hàng kiểm tra sản phẩm và nghĩ rằng sản phẩm giao cho bạn không đúng với đơn đặt hàng ? Hãy liên hệ với chúng tôi càng sớm càng tốt, nhân viên CSKH sẽ kiểm tra nếu hàng của bạn bị gửi nhầm. Chúng tôi sẽ thay thế đúng sản phẩm mà bạn đã đặt hàng.</p><br>
			</div>
			<h3 dir="ltr"><b>II. Điều kiện đổi trả hàng</b></h3>
			<p dir="ltr"><b>Điều kiện về thời gian đổi trả: trong vòng 3 ngày kể từ khi nhận được hàng.</b></p>
			<p style="text-indent: 30px;" dir="ltr">Khách hàng cung cấp được 1 trong những thông tin sau: Hóa đơn mua hàng tại Swispshop(nếu có), SĐT đặt hàng chính xác khi mua hàng, chúng tôi sẽ kiểm tra lịch sử mua hàng của bạn trên hệ thống phần mềm của Swispshop.</p>
			<p dir="ltr"><strong><em>Điều kiện về sản phẩm: hàng hóa còn đầy đủ tem mác</em></strong></p><br>
			<h3 dir="ltr"><b>III. Quy trình đổi trả hàng</b></h3>
			<p dir="ltr">Bước 1: Liên hệ Trung tâm hỗ trợ khách hàng – Hotline: 0995 625 354 để thông báo về yêu cầu đổi, trả hàng. Quý khách cần chuẩn bị trước số điện thoại mua hàng, sản phẩm đã mua và ngày mua.</p>
			<p dir="ltr">Bước 2: Sau khi Trung tâm hỗ trợ khách hàng tiếp nhận thông tin sẽ hướng dẫn cho quý khách địa điểm đổi trả hàng gần nhất. Quý khách có thể mang sản phẩm đến cửa hàng hoặc gửi chuyển phát nhanh về cửa hàng để đổi trả hàng.</p><br>
			<p dir="ltr"><b>Cảm ơn quý khách!</b></p>
		</div>
		<div class="col-sm-1"></div>
	
	</div>

</div>
<div class="footer" id="footer"></div>
</body>
</html>