<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Londrina+Solid|Coda+Caption:800|Open+Sans' rel='stylesheet' type='text/css'>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/responsiveslides.css">
<link rel="stylesheet" href="css/stylele.css">
<script src="js/jquery.min.js"></script>
<script src="js/responsiveslides.min.js"></script>
<script src="js/accounting.js"></script>
<script src="js/main.js"></script>
<script src="handle/menu.js"></script>
<script src="handle/cart.js"></script>
<script>
	window.onload = function(){
		loadmenu()
	}
</script>
</head>
<body>
<div id="menu"></div>
<div class="contents">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 pull-center">
          <img class="" src="image/giaohang.jpg" alt="" />
    
          <br /><br />
          <p><b>1. LƯU Ý:</b></p>
          <br />
          <h3>
            - Sau khi bạn đặt hàng, trong vòng 2 giờ làm việc chúng tôi sẽ liên lạc
            lại để xác nhận và kiểm tra thông tin.
          </h3>
          <h3>
            - Những rủi ro phát sinh trong quá trình vận chuyển (va đập, thời tiết..)
            có thể ảnh hưởng đến hàng hóa, vì thế xin quý Khách vui lòng kiểm tra
            hàng hóa thật kỹ trước khi ký nhận. Swispshop sẽ không chịu trách nhiệm
            với những sai lệch hình thức của hàng hoá sau khi Quý khách đã ký nhận
            hàng.
          </h3>
          <br />
          <p><b>2. Vận chuyển các Quận nội thành Hà Nội</b></p>
          <br />
          <p style="margin-left: 20px">
            <b>a. Chi phí vận chuyển</b><br />
            – Miễn phí vận chuyển tận nơi cho khách hàng tại nội thành Hà Nội.
          </p>
          <br />
          <p style="margin-left: 20px">
            <b>b. Thời gian giao hàng</b><br />
            – Không chậm hơn 3h khi hàng có sẵn trong kho<br />– Đối với hàng không
            có sẵn thì thời gian sẽ được nhân viên liên hệ thỏa thuận với khách hàng
          </p>
          <br />
          <p><b>3. Vận chuyển đi ngoại thành Hà Nội và các tỉnh thành khác</b></p>
          <br />
          <p style="margin-left: 20px">
            <b>a. Phương tiện vận chuyển</b><br />
            – Vận chuyển qua các xe khách tại các bến xe Hà Nội<br />
            – Vận chuyển qua đường máy bay<br />
            – Vận chuyển qua đường xe tải<br />
            – Vận chuyển qua đường bưu điện
          </p>
          <br />
          <p style="margin-left: 20px">
            <b>b. Đóng gói và chuyển hàng ra bến xe, bưu điện</b><br />
            – Chúng tôi sẽ đóng gói, đóng thùng &nbsp;miễn phí và vận chuyển miễn
            phí ra bến xe gửi cho Quý khách hàng.<br /><br />
            <b>c. Chi phí vận chuyển</b><br />
            – Giá phụ thuộc vào địa điểm nhận hàng và theo giá bưu điện
          </p>
          <br />
          <p style="margin-left: 20px">
            <b>e. Thời gian vận chuyển hàng tới tay khách hàng</b><br />
            – Thời gian từ 1&nbsp;– 3 ngày (kể cả ngày thứ 7 và chủ nhật)
          </p>
          <br />
          <br />
        </div>
        <div class="col-md-1"></div>
      </div>
</div>
</body>
</html>